numpy==1.26.4
torch==2.4.1
torchvision==0.19.1
lightning==2.4.0
anomalib==1.2.0
imgaug==0.4.0
albumentations==1.4.18
open-clip-torch==2.26.1
timm==1.0.11
transformers
FrEIA==0.2
kornia==0.7.3
einops
pandas
scikit-image
scikit-learn
opencv-python-headless
matplotlib==3.9.2
gradio